{% extends 'main/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    {{card.title}}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'cards/css/card_main.css' %}">
<section class="cards">
    <h1>{{card.title}}</h1>
    <div class="container desc">
        <div class="desc-content">
            <h2>Description</h2>
            <p>{{ card.description|linebreaks }}</p>
        </div>
        <div class="card-profile">
            <div class="card-image">
                <img src="{{ card.photo_profile.url }}" alt="{{ card.name }}">
            </div>
            <div class="card-info">
                <p><strong>Name:</strong> {{ card.hero_name }}</p>
                <p><strong>Real Name:</strong> {{ card.alterego }}</p>
                <p><strong>Debut:</strong> {{ card.debut }}</p>
                <p><strong>Gender:</strong> {{ card.gender }}</p>
                <p><strong>Occupation:</strong> {{ card.occupation }}</p>
            </div>
        </div>
    </div>
    <div class="container backgroundstory">
        <h2>Background</h2>
        <p>{{ card.background|linebreaks }}</p>
    </div>
    <div class="container appearance">
        <h2>Appearance</h2>
        <h3>{{card.hero_name}}</h3>
        <p>{{ card.appearance|split_hero:"*" }}</p>
        <h3>{{card.alterego}}</h3>
        <p>{{ card.appearance|split_alterego:"*" }}</p>
    </div>
    <div class="container skills">
        <h2>Skills</h2>
        <p>{{ card.skills|linebreaks }}</p>
    </div>
    <div class="container allies">
        <h2>Allies</h2>
        <p>{{ card.allies|linebreaks }}</p>
    </div>
    <div class="container enemises">
        <h2>Enemies</h2>
        <p>{{ card.enemies|linebreaks }}</p>
    </div>
</section>

{% endblock %}