.cards h1{
    text-align: center;
}

.cards h2{
    font-weight: bold;
}

.cards p{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.cards li{
    font-size: 18px;
    margin-bottom: 10px;
}

.container.desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.desc-content {
    width: 70%; /* Описание занимает 65% пространства */
}

.card-profile {
    width: 30%; /* Карточка занимает 30% пространства */
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px; /* Отступ между карточкой и описанием */
}

.card-image img {
    max-width: 100%; /* Изображение адаптируется под ширину карточки */
    border-radius: 8px;
}

.card-info {
    margin-top: 10px;
}

.card-info p {
    margin: 5px 0; /* Отступы между строками характеристик */
    font-size: 18px;
}

.appearance {
    font-size: 18px;
}


.skills p{
    font-size: 18px;
}

.allies p{
    font-size: 18px;
}

.enemises  p{
    font-size: 18px;
}