{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1>BatFamily</h1>
            <p class="lead text-body-secondary">
            </p>
            <p class="lead text-body-secondary">
                Hi) On this site you'll learn all about each member of the BatFamily,
                their biography, adventures, and their strengths and weaknesses. The site features all the latest news
                about our heroes, and you can write an article about your favorite hero right here and now. We look
                forward to seeing you)
            </p>
            <p>
                <a href="" class="btn btn-primary my-2">Suggest a news item</a>
                <a href="" class="btn btn-secondary my-2">My articles</a>
            </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h2>Our Guardians</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for object in objects %}
                <div class="col">
                <div class="card shadow-sm">
                    <img src="{{object.photo.url}}" alt="{{object.title}}">
                    <div class="card-body">
                        <p class="card-text">
                            {{object.title}}
                        </p>
                        <div>
                            <a href="{% url 'hero-detail' object.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}